<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Makinode</title>
</head>
<body>
    <div class="h-screen w-screen bg-blue-800 text-blue-100 flex flex-col items-center justify-center gap-4 text-2xl text-center font-bold">
        <p>Hello from the caller workflow!</p>
        <p hx-get="/serverinfo" hx-trigger="load" hx-target="this" hx-swap="innerHTML">...loading</p>
    </div>
    
</body>
</html>